/*[Nome = Raphael freitas]*/
/****************** CSS telas do sistema  ***********/

html, body {
	width: 99%;
	height: 99%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
   	color: #777;
	-webkit-font-smoothing: antialiased;
     background: url(../Img/bg1.png) no-repeat center center fixed;
     background-size: cover; /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -ms-background-size: cover; /*Css IE não use mer#^@%#*/
    -o-background-size: cover; /*Css Opera*/
}  

.form {
    width: 960px;
	margin: 0px auto;
}

fieldset {      
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  }

legend {
  /*padding: 0.2em 0.5em;*/  
  font-size:90%

  }
.numeric {
     Height:24px;
    color: black;
    margin-top: 6px;
    padding-left: 3px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 2px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
.numeric:focus{
	border: 1px solid #CC9933;
	box-shadow: inset 0 1.5px 3px rgba(254, 191, 2, .4), 0 0 0 5px #FFFFCC;
}
.cep {
     Height:24px;
    color: black;
    margin-top: 6px;
    padding-left: 3px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 2px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
.cep:focus{
	border: 1px solid #CC9933;
	box-shadow: inset 0 1.5px 3px rgba(254, 191, 2, .4), 0 0 0 5px #FFFFCC;
}
.moeda {
    color: black;
    margin-top: 6px;
    padding-left: 3px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 2px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
.moeda:focus{
	border: 1px solid #CC9933;
	box-shadow: inset 0 1.5px 3px rgba(254, 191, 2, .4), 0 0 0 5px #FFFFCC;
}
.textBox {
    color: black;
    margin-top: 6px;
	padding-left: 3px;
	margin: 5px;
	border: 1px solid #aaa;
	border-radius: 2px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;    
}
.textBox:focus{
	border: 1px solid #CC9933;
	box-shadow: inset 0 1.5px 3px rgba(254, 191, 2, .4), 0 0 0 5px #FFFFCC;
}


.dropDownList {
    color: black;
	padding-left: 3px;
	margin-top: 6px;
	margin-left: 5px;
	border: 1px solid #aaa;
	border-radius: 2px;	
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
    margin-right: 5px;
    margin-bottom: 5px;
    }
.dropDownList:focus{
	border: 1px solid #CC9933;
	box-shadow: inset 0 1.5px 3px rgba(254, 191, 2, .4), 0 0 0 5px #FFFFCC;
}

.chkboxlist td{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
   	color: #777;
}

input[type="checkbox"]:focus {
    border: 1px solid #CC9933;
	box-shadow: inset 0 1.5px 3px rgba(254, 191, 2, .4), 0 0 0 5px #FFFFCC;
}

.button {
    float: right;
	margin-right: 20px;
	margin-top: 20px;
	font-size: 14px;
	font-weight: bold;
    text-decoration:none;
	color: #333333;
    border-radius: 5px;
	border: 1px solid #aaa;	
	cursor: pointer;
    Height:30px;
}
.button:focus{
	border: 1px solid #CC9933;
	box-shadow: inset 0 1.5px 3px rgba(254, 191, 2, .4), 0 0 0 5px #FFFFCC;
}
.button:hover {
background-color: #ebe9e9;
background-image: -moz-linear-gradient(#ebe9e9, #aaa);
background-image: -webkit-gradient(linear, left top, left bottom, from(#ebe9e9), to(#aaa));
background-image: -webkit-linear-gradient(#ebe9e9, #aaa);
background-image: -o-linear-gradient(#ebe9e9, #aaa);
background-image: -ms-linear-gradient(#ebe9e9, #aaa);
background-image: linear-gradient(#ebe9e9, #aaa);
}
 .botao {
            margin-right: 20px;
            margin-top: 20px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #333333;
            border-radius: 5px;
            border: 1px solid #aaa;
            cursor: pointer;
            Height:30px;
    <!-- width: 29px;-->
}

            .botao:focus {
                border: 1px solid #CC9933;
                box-shadow: inset 0 1.5px 3px rgba(254, 191, 2, .4), 0 0 0 5px #FFFFCC;
            }

            .botao:hover {
                background-color: #ebe9e9;
                background-image: -moz-linear-gradient(#ebe9e9, #aaa);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#ebe9e9), to(#aaa));
                background-image: -webkit-linear-gradient(#ebe9e9, #aaa);
                background-image: -o-linear-gradient(#ebe9e9, #aaa);
                background-image: -ms-linear-gradient(#ebe9e9, #aaa);
                background-image: linear-gradient(#ebe9e9, #aaa);
            }
#TituloPage {
	padding: 4px 2px;   
    color: #fff;   
    background: #424242 url('../Img/grd_head.png') repeat-x 50% top;   
       
    font-size: 0.9em;
    width: 961px;
}

#ConteudoPages {   
    padding-bottom: 25px;
    border: 1px solid #aaa;
       
}

/*Rodapé das páginas do sistema*/
#footer {
    margin-top: 50px;
	background-image: url(img/footer_bg.png);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.validaDados {
    color:#FF0000;
}

